<style>
    @import url(static/css/sb-admin.css)
</style>
<ul class="sidebar navbar-nav">
    <ki class="navbar-nav">
        /* active */
        <li class="nav-item side_sy">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="nav-item side_yhgl">
            <a class="nav-link" href="{% url 'playerlist' %}">
                <i class="fas fa-fw fa-address-card"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li class="nav-item side_tk">
            <a class="nav-link" href="{% url 'questionlist' %}">
                <i class="fas fa-fw fa-tasks"></i>
                <span>题库答题</span>
            </a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">
                <i class="fas fa-fw fa-database"></i>
                <span>CRUD App</span>
            </a>
        </li> {% endcomment %}
        <!--li class="nav-item">
            <a class="nav-link" href="{% url 'playerlist' %}">
                <i class="fas fa-fw fa-database"></i>
                <span>角色列表</span>
            </a>
        </li-->
        <li class="nav-item side_jfph">
            <a class="nav-link" href="{% url 'scorelist' %}">
                <i class="fas fa-fw fa-tags"></i>
                <span>积分排行</span>
            </a>
        </li>
        <li class="nav-item side_gggl">
            <a class="nav-link" href="{% url 'brandlist' %}">
                <i class="fas fa-fw fa-tablet"></i>
                <span>公告管理</span>
            </a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'fileupload' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>File Upload</span>
            </a>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'ajax' %}">
                <i class="fas fa-fw fa-bullseye"></i>
                <span>Ajax Crud</span>
            </a>
        </li> {% endcomment %}
        <li class="nav-item side_mmgl">
            <a class="nav-link" href="{% url 'changePassword' %}">
                <i class="fas fa-fw fa-key"></i>
                <span>密码管理</span>
            </a>
        </li>
        <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>用户管理</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="{% url 'users' %}">用户列表</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-file"></i>
                <span>密码管理</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                {% comment %} <a class="dropdown-item" href="{% url 'upload_csv' %}">CSV Import</a> {% endcomment %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'changePassword' %}">修改密码</a>
            </div>
        </li-->
    </ki>
</ul>

