{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">BoerDee</a>
                </li>
                <li class="breadcrumb-item active">增加</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    新增问题
                </div>
                <div class="card-body">
                  <form class="form-horizontal" action="createquestion" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="topic" placeholder="标题" id="inputFirst" required>
                                    <!--label for="inputFirst">标题</label-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="describtion" placeholder="描述" id="inputLast" required>
                                    <!--label for="inputLast">描述</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="level" placeholder="关卡" id="inputLast" list="typelist" required>
                                    <datalist id="typelist">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                    </datalist>
                                    <!--label for="inputLast">关卡</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="op_1" placeholder="op_1" id="inputdescription" required>
                                    <!--label for="inputdescription">op_1</label-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="op_2" placeholder="op_2" id="inputdescription" required>
                                    <!--label for="inputdescription">op_2</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="op_3" placeholder="op_3" id="inputdescription" required>
                                    <!--label for="inputdescription">op_3</label-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="op_4" placeholder="op_4" id="inputdescription" required>
                                    <!--label for="inputdescription">op_4</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="tips" placeholder="提示" id="inputdescription" required>
                                    <!--label for="inputdescription">提示</label-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="correct" placeholder="答案" id="inputdescription" list="typelist_op" required>
                                    <datalist id="typelist_op">
                                        <option>op_1</option>
                                        <option>op_2</option>
                                        <option>op_3</option>
                                        <option>op_4</option>
                                    </datalist>
                                    <!--label for="inputdescription">答案</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">提交 &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}
