{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Brand</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Brand Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="editbrandid/{{ members.id }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" value="{{ members.title }}" name="title" placeholder="标题" id="inputFirst" required>
                                    <!--label for="inputFirst">title</label-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" value="{{ members.text }}" name="text" placeholder="主体" id="inputLast" required>
                                    <!--label for="inputLast">text</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" value="{{ members.enable }}" name="enable" placeholder="开启" id="inputdescription" required>
                                    <!--label for="inputdescription">enable</label-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">确定 &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}
