{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Brand</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Brand Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="editbrandid/{{ members.id }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.title }}" name="title" placeholder="标题" id="inputFirst1" required>
                                    <label for="inputFirst1">标题</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.text }}" name="text" placeholder="主体" id="inputLast2" required>
                                    <label for="inputLast2">主体</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" name="enable" placeholder="下拉选择开启/禁用" id="inputdescription_brand_enable" list="typelist" required>
                                    <datalist id="typelist">
                                        <option>启用</option>
                                        <option>禁用</option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">确定 &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}
