{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Question</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Question Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="editquestionid/{{ members.id }}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.topic }}" name="topic" placeholder="topic" id="inputFirst" required>
                                    <label for="inputFirst">topic</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.describtion }}" name="describtion" placeholder="describtion" id="inputLast" required>
                                    <label for="inputLast">describtion</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.tips }}" name="tips" placeholder="tips" id="inputdescription" required>
                                    <label for="inputdescription">tips</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="text" value="{{ members.op_1 }}" name="op_1" placeholder="op_1" id="inputMobile">
                                    <label for="inputMobile">op_1</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.op_2 }}" name="op_2" placeholder="op_2" id="inputdescription" required>
                                    <label for="inputdescription">op_2</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="text" value="{{ members.op_3 }}" name="op_3" placeholder="op_3" id="inputMobile">
                                    <label for="inputMobile">op_3</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" value="{{ members.op_4 }}" name="op_4" placeholder="op_4" id="inputdescription" required>
                                    <label for="inputdescription">op_4</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input class="form-control" type="text" value="{{ members.correct }}" name="correct" placeholder="correct" id="inputMobile">
                                    <label for="inputMobile">correct</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}