{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">BowerDee</a>
                </li>
                <li class="breadcrumb-item active">题库</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    题库
                    <a  class="btn btn-sm btn-success" href="{% url 'createquestion' %}" style="padding: 8px; float: right; background-color: green; color: white;">增加</a>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>所属关卡</th>
                                {% comment %} <th>Last Name</th> {% endcomment %}
                                {% comment %} <th>Mobile Number</th> {% endcomment %}
                                {% comment %} <th>Description</th> {% endcomment %}
                                {% comment %} <th>Location</th> {% endcomment %}
                                <th>提示</th>
                                <th>类型</th>
                                <th>选项1</th>
                                <th>选项2</th>
                                <th>选项3</th>
                                <th>选项4</th>
                                <th>答案</th>
                                <th>动作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{ member.id }}</td>
                                    <td>{{ member.topic }}</td>
                                    <td>{{ member.describtion }}</td>
                                    <td>{{ member.level }}</td>
                                    <td>{{ member.tips }}</td>
                                    <td>{{ member.qtype }}</td>
                                    <td>{{ member.op_1 }}</td>
                                    <td>{{ member.op_2 }}</td>
                                    <td>{{ member.op_3 }}</td>
                                    <td>{{ member.op_4 }}</td>
                                    <td>{{ member.correct}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-warning" href="editquestion/{{ member.id }}"> <span class="fa fa-edit"></span> 编辑</a>
                                        <a class="btn btn-sm btn-danger" href="deletequestion/{{ member.id }}"><span class="fa fa-trash"></span> 删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}
