{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <!--li class="breadcrumb-item">
                    <a href="#">BowerDee</a>
                </li-->
                <li class="breadcrumb-item active">排行榜</li>
            </ol>
            <div class="card mb-3">
                <!--div class="card-header">
                    <i class="fas fa-table"></i>
                    排行榜
                    <a  class="btn btn-sm btn-success" href="{% url 'createquestion' %}" style="padding: 8px; float: right; background-color: green; color: white;">增加</a>
                </div-->
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>头像</th>
                                <th>昵称</th>
                                <th>角色ID</th>
                                <th>总分数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in members %}
                                <tr>
                                    <td><img src="{{member.avatar_url}}" width='50' height='50'/></td>
                                    <td>{{ member.nike_name }}</td>
                                    <td>{{ member.role_id }}</td>
                                    <td>{{ member.max_score }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}
