{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">BowerDee</a>
                </li>
                <li class="breadcrumb-item active">用户列表</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    用户列表
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>姓</th>
                                <th>名</th>
                                <th>描述</th>
                                <th>更新日期</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% if user.email == 'gowthaman.nkl1@gmail.com' %}
                                {% else %}
                                    <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login |date:"d-m-Y H:i:s" }}</td>
                                    <td>{{ user.date_joined  |date:"d-m-Y H:i:s" }}</td>
                                    <td><a class="btn btn-sm btn-danger" href="delete/{{ user.id }}"><span class="fa fa-trash"></span> 删除</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}